<%= render 'shared/form' %>

<%= render 'shared/navbar'%>

<% @tweets.each do |tweet| %>
  <p><%= tweet.body %></p>
  <%= link_to "Like", tweet_likes_path(tweet), method: :post%>
  <% end %>



  <% @likes.each do |like| %>
    <% if like.tweet_id == tweet.id %>
      <%= like.tweet_id %>
    <% end %>
  <% end %> 

<% @tweets.reverse_each do |tweet| %>
  <%= render 'shared/card', tweet: tweet %>
<% end %>