<h1> Show page </h1>

<%= @tweet.body %>

<div>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.body %></p>

    <% @likes.each do |like| %>
      <%  if like.tweet.id == tweet.id%>
      <p> <%= like.user.username %> Liked this</p>
      <% end %>
    <% end %>
  <p> <%= link_to "Like", tweet_likes_path(tweet), method: :post%> </p>
  <% end %>
</div>
 
 <div class="show-edit-delete">
   <% if can? :edit, @tweet %>
     <%= link_to "Edit", edit_tweet_path(@tweet.id) %>
     <%= link_to "Delete", tweet_path(@tweet.id), method: :delete %>
   <% end %>
   <%= link_to "Back", :back %>
 </div>
