<div class="card mt-2 mb-2 p-3">
  <p><%= link_to "#{User.find(tweet.user_id).username}", "/#{User.find(tweet.user_id).username}" %> · <%= tweet.created_at %></p>
  <% if User.find(tweet.user_id).username != current_user.username %>
      <% if current_user.following.where(user_id: User.find(tweet.user_id).id).empty? %>
        <p><%= link_to "Follow", "/#{User.find(tweet.user_id).username}/follow" , method: :post %></p>
      <% else %>
        <p><%= link_to "Unfollow", "/#{User.find(tweet.user_id).username}/follow" , method: :post %></p>
      <% end %>
  <% end %>
  <p><%= tweet.body %></p>
      <% @likes.each do |like| %>
        <% if like.tweet.id == tweet.id%>
          <% if tweet.likes.length > 1 %>
            <p> <%= like.user.username%> and others liked this</p>
            <% break %>
          <% else %>
            <p> <%= like.user.username %> Liked this</p>
          <% end %>
      <% end %>
    <% end %>
  <div class="row d-flex m-0">
  
    <div class="btn-controls ml-auto">
    <%= link_to "View", tweet_path(tweet.id), class: 'btn-sm btn-primary' %>

      <% if tweet.likes.where(user_id: current_user.id).empty?%>
        <%= link_to "Like", tweet_likes_path(tweet), method: :post, class: 'btn-sm btn-primary'%>
        <% else %>
          <%= link_to "Like", tweet_likes_path(tweet), method: :post, class: 'btn-sm btn-secondary'%>
      <% end %>





    <% if params[:controller] == 'profile' && params[:action] == 'index' %>
        <%= link_to "Edit", edit_tweet_path(tweet.id), class: "btn-sm btn-success"  %> <%= link_to "Delete", tweet_path(tweet.id), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
  </div>
</div>

