<h1>Profile page</h1>

<p><%= current_user.username %></p>

<% current_user.tweets.each do |tweet| %>
    <p><%= tweet.body %></p>
    <p><%= tweet.created_at %></p>
    <p><%= link_to "Edit", edit_tweet_path(tweet.id)  %></p>
    <p><%= link_to "Delete", tweet_path(tweet.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>